html {
  background-color: grey;
}
h1 {
	color: red;
  }
h2 {
	color:brown
  }
body 
{
  width: 600px;
  height: auto;
  margin: auto;
  margin-top: 500px;
  text-align: center;
  background-color: blue;
  padding: 1em;
  border: 5px solid black;
}

